<h1>testdata 1</h1>
<p>a<sup class="csl-footnote-anchor" id="csl-footnote-anchor-1"><a href="#csl-footnote-1">1</a></sup> and b<sup class="csl-footnote-anchor" id="csl-footnote-anchor-2"><a href="#csl-footnote-2">2</a></sup></p>
<p>and more<sup class="csl-footnote-anchor" id="csl-footnote-anchor-3"><a href="#csl-footnote-3">3</a></sup> and then some<sup class="csl-footnote-anchor" id="csl-footnote-anchor-4"><a href="#csl-footnote-4">4</a></sup> </p>
<h2>Footnotes</h2>
<p><div id="csl-footnote-1" class="csl-footnote-entry"><a href="#csl-footnote-anchor-1" class="csl-footnote-number">1</a> ct. Büchner, Georg: Leonce und Lena, Berlin 2011, p. 12.</div><div id="csl-footnote-2" class="csl-footnote-entry"><a href="#csl-footnote-anchor-2" class="csl-footnote-number">2</a> no key</div><div id="csl-footnote-3" class="csl-footnote-entry"><a href="#csl-footnote-anchor-3" class="csl-footnote-number">3</a> Jelinek, Elfriede: Ein Sportstück, Reineck bei Hamburg 2008, p. 23.</div><div id="csl-footnote-4" class="csl-footnote-entry"><a href="#csl-footnote-anchor-4" class="csl-footnote-number">4</a> vgl. Müller, Heiner: Die Hamletmaschine, in: Werke 4. Stücke 2, Berlin 2000.</div></p>
<h2>Bibliography</h2>
<p><div class="csl-bib-body">  <div class="csl-entry">Büchner, Georg (2011): Leonce und Lena, Berlin 2011.</div>  <div class="csl-entry">Jelinek, Elfriede (2008): Ein Sportstück, Reineck bei Hamburg 2008.</div>  <div class="csl-entry">Müller, Heiner (2000): Die Hamletmaschine, in: Werke 4. Stücke 2, Berlin 2000.</div></div></p>